


<form class="header-form" action="/" method="redirect">
  <button class="header-btn" type="submit" name="button"><strong>Today List</strong> </button>
</form>
<form class="header-form" action="/Work" method="redirect">
  <button class="header-btn" type="submit" name="button"><strong>Work List</strong></button>
</form>
