<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Todo-List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div class="container">
    <div class="box" id="heading">
      <h1> <%= day %> </h1>

    </div>


      <div class="box">
        <div class="items">
        <% for(let i = 0; i < items.length; i++){ %>
        <div class="item">
          <input type="checkbox">
          <p><%= items[i] %></p>

          <form class="delForm" action="/" method="POST">
            <button class="delete" type="submit" name="del" value="<%= i %>">x</button>

          </form>

        </div>
        <% } %>
        </div>
        <form class="item addForm" action="/" method="POST">
          <input type="text" name="toDoAction" placeholder="I have to do..." autocomplete="off" maxlength="25">
          <button class="addBtn" type="submit">+</button>

        </form>
      </div>

  </div>




</html>
