html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
  min-height: 1000px;
  font-family: "Segoe UI", Arial, sans-serif;



}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  width: 400px;
  margin: 0px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.container{
  margin-top: 10%;

}

.items{
  max-height: 500px;
  max-width: 400px;
  margin-left:auto;
  margin-right: auto;
  overflow-y: auto;
  scroll-behavior: smooth;
  width: 100%;
  border-radius: 5px;

}

.items::-webkit-scrollbar{
  width: 10px;
}

.items::-webkit-scrollbar-track{
  background-color: rgba(0, 0, 0, 0);
}

.items::-webkit-scrollbar-thumb{
  border-radius: 5px;
  width:10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #A683E3;
}

.header-form{
  display: inline-block;
}

.header-btn{
background: #A683E3;
background-image: -webkit-linear-gradient(top, #A683E3, #7044c2);
background-image: -moz-linear-gradient(top, #A683E3, #7044c2);
background-image: -ms-linear-gradient(top, #A683E3, #7044c2);
background-image: -o-linear-gradient(top, #A683E3, #7044c2);
background-image: linear-gradient(to bottom, #A683E3, #7044c2);
-webkit-border-radius: 56;
-moz-border-radius: 56;
border-radius: 56px;
text-shadow: 0px 4px 5px #666666;
-webkit-box-shadow: 3px 5px 3px #666666;
-moz-box-shadow: 3px 5px 3px #666666;
box-shadow: 3px 5px 3px #666666;
font-family: "Segoe UI", Arial, sans-serif;
color: #fafafa;
font-size: 1rem;
padding: 10px 20px 10px 20px;
text-decoration: none;
border:none;
margin-right: 20px;
}

.header-btn:hover{
background: #7044c2;
 background-image: -webkit-linear-gradient(top, #7044c2, #A683E3);
 background-image: -moz-linear-gradient(top, #7044c2, #A683E3);
 background-image: -ms-linear-gradient(top, #7044c2, #A683E3);
 background-image: -o-linear-gradient(top, #7044c2, #A683E3);
 background-image: linear-gradient(to bottom, #7044c2, #A683E3);
 text-decoration: none;
}

.header-btn:active{

  box-shadow: 3px 2px 3px #666666;
  transform: translateY(4px);
}



#heading {
  background-color: #A683E3;
  background-image: -webkit-linear-gradient(top, #A683E3, #7044c2);
  background-image: -moz-linear-gradient(top, #A683E3, #7044c2);
  background-image: -ms-linear-gradient(top, #A683E3, #7044c2);
  background-image: -o-linear-gradient(top, #A683E3, #7044c2);
  background-image: linear-gradient(to bottom, #A683E3, #7044c2);
  text-align: center;
  margin-bottom: 50px;
}

.item {
  min-height: 70px;
  align-items: center;
  position: relative;

  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

.item:hover .delete{
  z-index: 5;
}

.items .item:hover{
  box-shadow: inset 0 0 25px 6px #E4E9FD;
}
input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  display: inline-block;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

.addForm {
  text-align: center;
}

.delForm{
  display: inline-block;
  text-align: right;
}

.addBtn {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #A683E3;
  background-image: -webkit-linear-gradient(top, #A683E3, #7044c2);
  background-image: -moz-linear-gradient(top, #A683E3, #7044c2);
  background-image: -ms-linear-gradient(top, #A683E3, #7044c2);
  background-image: -o-linear-gradient(top, #A683E3, #7044c2);
  background-image: linear-gradient(to bottom, #A683E3, #7044c2);
  color: #fff;
  font-size: 30px;
  border-width: 0;
  margin-top: 10px;
}

.addBtn:hover{
  background: #7044c2;
   background-image: -webkit-linear-gradient(top, #7044c2, #A683E3);
   background-image: -moz-linear-gradient(top, #7044c2, #A683E3);
   background-image: -ms-linear-gradient(top, #7044c2, #A683E3);
   background-image: -o-linear-gradient(top, #7044c2, #A683E3);
   background-image: linear-gradient(to bottom, #7044c2, #A683E3);
   text-decoration: none;
}
.addBtn:active{
  box-shadow: 0 0 10px 2px #8c5ce0;
  background-color: #8c5ce0;
}
.delete{
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  z-index: -5;
  right: 20px;
  bottom: 35%;
  border: none;
}


input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;

}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
