html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
  min-height: 1000px;
  font-family: "Segoe UI", Arial, sans-serif;



}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  width: 400px;
  margin: 0px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.container{
  margin-top: 10%;

}

.items{
  max-height: 500px;
  max-width: 400px;
  margin-left:auto;
  margin-right: auto;
  overflow-y: auto;
  scroll-behavior: smooth;
  width: 100%;
  border-radius: 5px;

}

.items::-webkit-scrollbar{
  width: 10px;
}

.items::-webkit-scrollbar-track{
  background-color: rgba(0, 0, 0, 0);
}

.items::-webkit-scrollbar-thumb{
  border-radius: 5px;
  width:10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #A683E3;
}


#heading {
  background-color: #A683E3;
  text-align: center;
  margin-bottom: 50px;
}

.item {
  min-height: 70px;
  align-items: center;
  position: relative;

  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

.item:hover .delete{
  z-index: 5;
}

.items .item:hover{
  box-shadow: inset 0 0 25px 6px #E4E9FD;
}
input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  display: inline-block;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

.addForm {
  text-align: center;
}

.delForm{
  display: inline-block;
  text-align: right;
}

.addBtn {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #A683E3;
  color: #fff;
  font-size: 30px;
  border-width: 0;
  margin-top: 10px;
}

.delete{
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  z-index: -5;
  right: 20px;
  bottom: 35%;
  border: none;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;

}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
